{% extends 'base.html' %}
{% block title %}荣华养老院数据录入主页{% endblock %}

{% block content %}
	<h1 style="text-align: center">荣华养老院数据录入主页</h1>
    </br></br>
    <p><a href="{% url 'addPerson' %}" role="button" class="btn btn-primary btn-lg btn-block">添加老人</a></p>
    </br>
{#    <p><a href="{% url 'addMedHis' %}" role="button" class="btn btn-primary btn-lg btn-block">添加病史</a></p>#}
{#    </br>#}
{#    <p><a href="{% url 'addDayDiag' %}" role="button" class="btn btn-primary btn-lg btn-block">添加每日问诊</a></p>#}
{#    </br>#}
{#    <p><a href="{% url 'addRadReport' %}" role="button" class="btn btn-primary btn-lg btn-block">添加化验放射检验报告</a></p>#}
{#    </br>#}
{#    <p><a href="{% url 'addDrugHistory' %}" role="button" class="btn btn-primary btn-lg btn-block">添加用药记录</a></p>#}
{#    </br>#}
{#    <p><a href="{% url 'addSurgHistory' %}" role="button" class="btn btn-primary btn-lg btn-block">添加手术状况</a></p>#}
{#    </br>#}
{#    <p><a href="{% url 'addBodyStatus' %}" role="button" class="btn btn-primary btn-lg btn-block">添加体格检验</a></p>#}
{% endblock %}